.divtab{
  height: 50px;
  width: 200px;
  background-color: rgb(181, 132, 226);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
